# WEB SCRAPPING 4 ASSIGMENT

#### Q1 - 1. Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [225]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException,NoSuchFrameException
import time

In [2]:
#### connect to the browser driver
driver = webdriver.Chrome(r'D:\chromedriver_win32\chromedriver.exe')

In [165]:
url = 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/'
driver.get(url)

In [166]:
try:
    webElement = driver.find_element_by_xpath('/html/body/div[3]/div[3]/div[5]/div[1]/table/tbody/tr/td/ul/li[2]/span/a')
    webElement.click()
except NoSuchElementException as exception:
    print ("Element not found and test failed")

In [167]:
try:
    element = driver.find_element_by_xpath('/html/body/div[3]/div[3]/div[4]/div[3]/ul/li[1]/div[1]')
    element.click()
except NoSuchElementException as exception:
    print("No element Found")

In [168]:
#initializing list
rank = []
names = []
artist = []
upload_date = []
view = []


#scraping Rank
try: 
    Rank_tr = driver.find_elements_by_xpath('/html/body/div[3]/div[3]/div[5]/div[1]/table[3]/tbody/tr/td[1]')
    for i in Rank_tr:
        rank.append(i.text)
except NoSuchElementException:
    rank.append('-')


#scraping Name
try:
    Name_tr = driver.find_elements_by_xpath('/html/body/div[3]/div[3]/div[5]/div[1]/table[3]/tbody/tr/td[2]/a')
    for j in Name_tr:
        names.append(j.text)
except NoSuchElementException:
    names.append('-')
    
#scraping Artist

try:
    artist_tr = driver.find_elements_by_xpath('/html/body/div[3]/div[3]/div[5]/div[1]/table[3]/tbody/tr/td[3]/a')
    for a in artist_tr:
        artist.append(a.text)
except NoSuchElementException:
    artist.append('-')

    
#scraping view

try:
    view_tr = driver.find_elements_by_xpath('/html/body/div[3]/div[3]/div[5]/div[1]/table[3]/tbody/tr/td[4]')
    for i in view_tr:
        view.append(i.text)
except NoSuchElementException:
    view.append('-')
    
#scrapin upload date

try:
    upload_dates = driver.find_elements_by_xpath('/html/body/div[3]/div[3]/div[5]/div[1]/table[3]/tbody/tr/td[5]')
    for i in upload_dates:
        upload_date.append(i.text)
except NoSuchElementException:
    upload_date.append('-')

In [169]:
rank

['1.',
 '2.',
 '3.',
 '4.',
 '5.',
 '6.',
 '7.',
 '8.',
 '9.',
 '10.',
 '11.',
 '12.',
 '13.',
 '14.',
 '15.',
 '16.',
 '17.',
 '18.',
 '19.',
 '20.',
 '21.',
 '22.',
 '23.',
 '24.',
 '25.',
 '26.',
 '27.',
 '28.',
 '29.',
 '30.']

In [172]:
names

['Baby Shark Dance',
 'Despacito',
 'Johny Johny Yes Papa',
 'Shape of You',
 'See You Again',
 'Uptown Funk',
 'Gangnam Style',
 'Sugar',
 'Dame Tu Cosita',
 'Sorry',
 'Roar',
 'Counting Stars',
 'Thinking Out Loud',
 'Dark Horse',
 'Faded',
 'Shake It Off',
 'Girls Like You',
 'Lean On',
 'Bailando',
 'Let Her Go',
 'Mi Gente',
 'Perfect',
 'Waka Waka (This Time for Africa)',
 'Axel F',
 'Hello']

In [154]:
upload_date

['June 17, 2016',
 'January 12, 2017',
 'October 8, 2016',
 'January 30, 2017',
 'April 6, 2015',
 'January 31, 2012',
 'May 2, 2018',
 'February 27, 2018',
 'November 19, 2014',
 'July 15, 2012',
 'March 6, 2014',
 'January 14, 2015',
 'April 5, 2018',
 'October 22, 2015',
 'September 5, 2013',
 'May 31, 2013',
 'October 7, 2014',
 'May 24, 2018',
 'February 20, 2014',
 'December 3, 2015',
 'August 18, 2014',
 'May 31, 2018',
 'March 22, 2015',
 'April 11, 2014',
 'July 25, 2012',
 'June 29, 2017',
 'November 9, 2017',
 'June 4, 2010',
 'June 16, 2009',
 'October 22, 2015']

In [173]:
artist

["Pinkfong Kids' Songs & Stories",
 'Luis Fonsi',
 'Ed Sheeran',
 'Wiz Khalifa',
 'Cocomelon – Nursery Rhymes',
 'Mark Ronson',
 'Psy',
 'ChuChu TV',
 'Maroon 5',
 'El Chombo',
 'Justin Bieber',
 'Katy Perry',
 'OneRepublic',
 'Ed Sheeran',
 'Cocomelon – Nursery Rhymes',
 'Katy Perry',
 'Alan Walker',
 'Taylor Swift',
 'Maroon 5',
 'Major Lazer',
 'Enrique Iglesias',
 'Passenger',
 'J Balvin',
 'Ed Sheeran',
 'Shakira',
 'Crazy Frog',
 'Adele']

In [174]:
view

['8.96',
 '7.44',
 '5.55',
 '5.38',
 '5.18',
 '4.44',
 '4.31',
 '4.26',
 '4.23',
 '4.12',
 '3.99',
 '3.51',
 '3.46',
 '3.45',
 '3.39',
 '3.34',
 '3.29',
 '3.15',
 '3.10',
 '3.10',
 '3.07',
 '3.07',
 '3.06',
 '3.06',
 '3.03',
 '2.94',
 '2.90',
 '2.88',
 '2.88',
 '2.85']

# Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [8]:
url = 'https://www.bcci.tv/'
driver.get(url)

In [9]:
try:
    webElement = driver.find_element_by_xpath('/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]/div/ul/li[1]/a').get_attribute('href')
    print(webElement)
    driver.get(webElement)
except NoSuchElementException:
    print('No element Found')

https://www.bcci.tv/international/fixtures

In [10]:
match_url = []
#### scrap the link 
url = driver.find_elements_by_xpath('/html/body/div[4]/div/div/div[2]/section/div/div/a')
for i in url:
    match_url.append(i.get_attribute('href'))

match_title = []
series =[]
place = []
Date = []
Time = []
for urls in match_url:
    driver.get(urls)
    
    
    try:
        get_title = driver.find_element_by_xpath('/html/body/div[2]/div/header/div/div[1]/div/p/span')
        match_title.append(get_title.text)
        matches = driver.find_element_by_xpath('/html/body/div[2]/div/div[2]/section[3]/div/ul/li[1]/span[2]')
        series.append(matches.text)
    except NoSuchElementException:
        match_title.append('-')
        series.append('-')

    try:
        venue = driver.find_element_by_xpath('/html/body/div[2]/div/div[2]/section[3]/div/ul/li[3]/span[2]')
        place.append(venue.text)
    except NoSuchElementException:
        place.append('-')
    try:
        date = driver.find_element_by_xpath('/html/body/div[2]/div/header/div/div[2]/div/div[4]/strong')
        Date.append(date.text)
    except NoSuchElementException:
        Date.append('-')
    try:
        time = driver.find_element_by_xpath('/html/body/div[2]/div/header/div/div[2]/div/div[4]/span[1]')
        Time.append(time.text)
    except NoSuchElementException:
        Time.append('-')

In [11]:
pd.DataFrame({
    'match_title':match_title,
    'series':series,
    'place':place,
    'date':Date,
    'time':Time
})

,match_title,series,place,date,time
0,1ST ODI,Sri Lanka v India 2021,"R Premadasa Stadium, Colombo",Sunday 18 July,15:00 IST
1,2ND ODI,Sri Lanka v India 2021,"R Premadasa Stadium, Colombo",Tuesday 20 July,15:00 IST
2,3RD ODI,Sri Lanka v India 2021,"R Premadasa Stadium, Colombo",-,-
3,1ST T20I,Sri Lanka v India 2021,"R Premadasa Stadium, Colombo",Sunday 25 July,20:00 IST
4,2ND T20I,Sri Lanka v India 2021,"R Premadasa Stadium, Colombo",-,-
5,3RD T20I,Sri Lanka v India 2021,"R Premadasa Stadium, Colombo",Thursday 29 July,20:00 IST
6,1ST TEST,England v India 2021,"Trent Bridge, Nottingham",-,-
7,2ND TEST,England v India 2021,"Lord's, London",Thursday 12 August,15:30 IST
8,3RD TEST,England v India 2021,"Headingley, Leeds",Wednesday 25 August,15:30 IST
9,4TH TEST,England v India 2021,"The Oval, London",Thursday 2 September,15:30 IST
10,5TH TEST,England v India 2021,"Old Trafford, Manchester",Friday 10 September,15:30 IST

# 3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [12]:
url ='https://www.guru99.com/'
driver.get(url)

try:
    link = driver.find_element_by_xpath('/html/body/div[2]/section[4]/div/div/div/div/div/div/div/div[1]/div/ul[1]/li[3]/a')
    link.click()
except NoSuchElementException:
        print('No Element Found')    

try:
    tutorial = driver.find_element_by_xpath('/html/body/div[2]/section[3]/div/div[1]/main/div/div/div/div/div/div/div[2]/table[5]/tbody/tr[34]/td[1]/a')
    tutorial.click()
except NoSuchElementException:
        print('No Element Found')

In [13]:
try:
    exception_name = []
    Name = driver.find_elements_by_xpath('/html/body/div[2]/section[3]/div/div[1]/main/div/div/div/div/div/div/div[2]/table/tbody/tr/td[1]')
    for i in Name:
        try:
            exception_name.append(i.text)
        except NoSuchElementException:
            exception_name.append('-')
except NoSuchElementException:
        print('No Element Found')

In [14]:
try:
    Description = []
    desc = driver.find_elements_by_xpath('/html/body/div[2]/section[3]/div/div[1]/main/div/div/div/div/div/div/div[2]/table/tbody/tr/td[2]')
    for i in desc:
        try:
            Description.append(i.text)
        except NoSuchElementException:
            exception_name.append('-')
except NoSuchElementException:
        print('No Element Found')

In [15]:
pd.DataFrame({
    'Exception Name':exception_name,
    'Description':Description
})

,Exception Name,Description
0,Exception name,Description
1,ElementNotVisibleException,This type of Selenium exception occurs when an...
2,ElementNotSelectableException,This Selenium exception occurs when an element...
3,NoSuchElementException,This Exception occurs if an element could not ...
4,NoSuchFrameException,This Exception occurs if the frame target to b...
5,NoAlertPresentException,This Exception occurs when you switch to no pr...
6,NoSuchWindowException,This Exception occurs if the window target to ...
7,StaleElementReferenceException,This Selenium exception occurs happens when th...
8,SessionNotFoundException,The WebDriver is acting after you quit the bro...
9,TimeoutException,Thrown when there is not enough time for a com...
10,WebDriverException,This Exception takes place when the WebDriver ...
11,ConnectionClosedException,This type of Exception takes place when there ...
12,ElementClickInterceptedException,The command may not be completed as the elemen...
13,ElementNotInteractableException,This Selenium exception is thrown when any ele...
14,ErrorInResponseException,This happens while interacting with the Firefo...
15,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
16,ImeActivationFailedException,This expectation will occur when IME engine ac...
17,ImeNotAvailableException,It takes place when IME support is unavailable.
18,InsecureCertificateException,Navigation made the user agent to hit a certif...
19,InvalidArgumentException,It occurs when an argument does not belong to ...
20,InvalidCookieDomainException,This happens when you try to add a cookie unde...
21,InvalidCoordinatesException,This type of Exception matches an interacting ...
22,InvalidElementStateExceptio,It occurs when command can't be finished when ...
23,InvalidSessionIdException,This Exception took place when the given sessi...
24,InvalidSwitchToTargetException,This occurs when the frame or window target to...
25,JavascriptException,This issue occurs while executing JavaScript g...
26,JsonException,It occurs when you afford to get the session w...
27,NoSuchAttributeException,This kind of Exception occurs when the attribu...
28,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
29,NoSuchContextException,ContextAware does mobile device testing.
30,NoSuchCookieException,This Exception occurs when no cookie matching ...
31,NotFoundException,This Exception is a subclass of WebDriverExcep...
32,RemoteDriverServerException,This Selenium exception is thrown when the ser...
33,ScreenshotException,It is not possible to capture a screen.
34,SessionNotCreatedException,It happens when a new session could not be suc...
35,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
36,UnexpectedTagNameException,Happens if a support class did not get a web e...
37,UnhandledAlertException,This expectation occurs when there is an alert...
38,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
39,UnknownMethodException,This Exception happens when the requested comm...
40,UnreachableBrowserException,This Exception occurs only when the browser is...
41,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

# 4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP at current price (19-20)
D) GSDP at current price (18-19)
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [16]:
url = 'http://statisticstimes.com/'
driver.get(url)

In [17]:
try:
    economy_page = driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]').get_attribute('href')
    driver.get(economy_page)
except NoSuchElementException:
    print("No Element")

In [18]:
try:
    indian_state = driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').get_attribute('href')
    driver.get(indian_state)
except NoSuchElementException:
    print("No ELement")

In [19]:
Rank = []

rank_elem = driver.find_elements_by_xpath('/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[1]')
for i in rank_elem:
    try:
        Rank.append(i.text)
    except NoSuchElementException:
        Rank.append('-')

State = []
state_elem = driver.find_elements_by_xpath('/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[2]')
for i in state_elem:
    try:
        State.append(i.text)
    except NoSuchElementException:
        State.append('-')

gspd1920 = []
elem = driver.find_elements_by_xpath('/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[3]')
for i in elem:
    try:
        gspd1920.append(i.text)
    except NoSuchElementException:
        gspd1920.append('-')
gspd1819 = []
element = driver.find_elements_by_xpath('/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[4]')
for i in element:
    try:
        gspd1819.append(i.text)
    except NoSuchElementException:
        gspd1819.append('-')

share = []
element_share = driver.find_elements_by_xpath('/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[5]')
for i in element_share:
    try:
        share.append(i.text)
    except NoSuchElementException:
        share.append('-')

billion = []
element_bil = driver.find_elements_by_xpath('/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[6]')
for i in element_bil:
    try:
        billion.append(i.text)
    except NoSuchElementException:
        billion.append('-')

In [20]:
pd.DataFrame({
    'Rank':Rank,
    'Sate':State,
    'GSDP (Cr INR at Current prices 19-20)':gspd1920,
    'GSDP (Cr INR at Current prices 18-19)':gspd1819,
    'Share':share,
    'Billion':billion
})

,Rank,Sate,GSDP (Cr INR at Current prices 19-20),GSDP (Cr INR at Current prices 18-19),Share,Billion
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

# 5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [22]:
url ='https://github.com/trending'
driver.get(url)

In [40]:
title = []
elem = driver.find_elements_by_xpath('/html/body/div[4]/main/div[3]/div/div[2]/article/h1/a')
for i in elem:
    try:
        title.append(i.text)
    except NoSuchElementException:
        titel.append('-')
desc = []
element = driver.find_elements_by_xpath('/html/body/div[4]/main/div[3]/div/div[2]/article/p')
for i in element:
    try:
        desc.append(i.text)
    except NoSuchElementException:
        desc.append('-')

lang = []
language = driver.find_elements_by_xpath('/html/body/div[4]/main/div[3]/div/div[2]/article/div[2]/span[1]/span[2]')
for i in language:
    try:
        lang.append(i.text)
    except NoSuchElementException:
        lang.append('-')
count = []
counts = driver.find_elements_by_xpath('/html/body/div[4]/main/div[3]/div/div[2]/article/div[2]/a[1]')
for i in counts:
    try:
        count.append(i.text)
    except NoSuchElementException:
        count.append('--')

# 6. Scrape the details of top 100 songs on billboard.com.
Url = https://www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code

In [47]:
url = 'https://www.billboard.com/'
driver.get(url)

In [48]:
driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/nav/ul/li[3]/a').click()

In [73]:
song = []
songs = driver.find_elements_by_xpath('/html/body/main/div/div/div[7]/div/ol/li/button/span[2]/span[1]')
for i in songs:
    if(i==None):
        song.append('-')
    else:
        song.append(i.text)
artist =[]
artis = driver.find_elements_by_xpath('/html/body/main/div/div/div[7]/div/ol/li/button/span[2]/span[2]')
for i in artis:
     artist.append(i.text)
        
lastweekrank =[]
week = driver.find_elements_by_xpath('/html/body/main/div/div/div[7]/div/ol/li/button/div/div[1]')
for i in week:
    try:
        lastweekrank.append(i.text)
    except NoSuchElementException:
        lastweekrank.append('-')

peek = []
p = driver.find_elements_by_xpath('/html/body/main/div/div/div[7]/div/ol/li/button/div/div[2]')
for i in p:
    peek.append(i.text)

wksonchart = []
wks = driver.find_elements_by_xpath('/html/body/main/div/div/div[7]/div/ol/li/button/div/div[3]')
for i in wks:
    wksonchart.append(i.text)

In [74]:
len(wksonchart)

100

In [75]:
pd.DataFrame({
    'songs':song,
    'artist':artist,
    'lastweekrank':lastweekrank,
    'peek':peek,
    'wksonchart':wksonchart
})

,songs,artist,lastweekrank,peek,wksonchart
0,Butter,BTS,1,1,7
1,Good 4 U,Olivia Rodrigo,,2,1
2,Levitating,Dua Lipa Featuring DaBaby,4,2,40
3,Kiss Me More,Doja Cat Featuring SZA,3,3,13
4,Montero (Call Me By Your Name),Lil Nas X,,8,1
...,...,...,...,...,...
95,All I Know So Far,P!nk,,-,74
96,What's Next,Drake,,-,1
97,Enough For You,Olivia Rodrigo,,-,14
98,Juggernaut,"Tyler, The Creator Featuring Lil Uzi Vert & Ph...",40,40,2
99,Tell Em,Cochise & $NOT,,-,64

# 7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and 
click on search. All this should be done through code

In [175]:
url = ' https://www.naukri.com/'
driver.get(url)

In [202]:
try:
    link= driver.find_element_by_xpath('/html/body/div[1]/div[1]/div/ul[1]/li[2]/a').get_attribute('href')
    driver.get(link)
except NoSuchElementException:
    print('No element Found')

In [206]:
search =driver.find_element_by_xpath('//div[@class="inpWrap"]/input[@class="sugInp"]')
search.send_keys("Data Science")
driver.find_element_by_xpath('//button[@id="qsbFormBtn"]').click()

In [226]:
Companies = []
degignation =[]
locations =[]
hirefor=[]
company = driver.find_elements_by_xpath('//p[@class="highlightable"]/a[2]')
for i in company:
    Companies.append(i.text)
desg = driver.find_elements_by_xpath('//p[@class="highlightable"]/span[1]')
for i in desg:
    degignation.append(i.text)
location = driver.find_elements_by_xpath('//p[@class="highlightable"]/span[2]')
for i in location:
    try:
        locations.append(i.text)
    except NoSuchElementException:
        locations.append('-')
hire = driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]')
for i in hire:
    hirefor.append(i.text)

In [231]:
len(locations)

50

In [232]:
pd.DataFrame({
    'Companies':Companies,
    'degignation':degignation,
    'hirefor':hirefor,
    'locations':locations
})

,Companies,degignation,hirefor,locations
0,Data Science Network,HR Manager,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,Shore Infotech India Pvt. Ltd,Company Recruiter,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,"Data Science, Artificial Intelligence, Machine...",Pune
3,Enerlytics Software Solutions Pvt Ltd,Company Recruiter,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,LibraryXProject,Founder CEO,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Apidel Technologies Division of Transpower,Recruitment Lead Consultant,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,IFMR,Programme Manager,Data Science,Chennai
7,Techvantage Systems Pvt Ltd,HR Administrator,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Innominds Software,Executive Hiring,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
9,MoneyTap,Company HR,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
10,QuantMagnum Technologies Pvt. Ltd.,Company HR,"Office Administration, Hr Administration, tele...",Mumbai
11,Bristlecone India Ltd,Senior Executive Talent Acquisition,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
12,SocialPrachar.com,HR Team Lead,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
13,SRM Institute of Science and Technology,Professor and Head,"Computer Science, Machine Learning, Deep Learn...",Chennai
14,BISP Solutions,HR Manager,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
15,Easi Tax,HR Executive,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
16,Novelworx Digital Solutions,Manager Talent Acquisition,Data Science,Cochin
17,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,HR Head,"Corporate Sales, Software Development, Softwar...",Delhi
18,FirstTech Consaltants Pvt.Ltd,HR MANAGER,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
19,Affine Analytics,HR Recruiter,"Data Science, Machine Learning, Python, R, Dee...",Pune
20,"Dollarbird Information Services Pvt, Ltd",Project Manager,"Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
21,NEAL ANALYTICS SERVICES PVT LTD,Company Recruiter,"Data Science, Artificial Intelligence, Machine...",Pune
22,Compumatrice Multimedia Pvt Ltd,HR Recruiter,"Big Data, Data Science, Artificial Intelligenc...",Pune
23,Exela Technologies,Manager Human Resources,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
24,WildJasmine,HR Manager,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
25,Weupskill- Live Wire India,Director,"Technical Training, Software Development, Pres...",Indore
26,Autumn Leaf Consulting Services Private...,Lead Talent acquisition,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
27,trainin,Proprietor,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
28,Nanoprecise Sci Corp,CEO,"Signal Processing, Machine Learning, Neural Ne...",Delhi
29,R.S Consultancy &amp; Services,Founder CEO,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
30,Independent Consultant,Senior Manager,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
31,Confidential,Company Recruitment Head,"Server Administartion, Verilog, Vhdl, Digital ...",Pune
32,Demand Matrix,Technical Recruiter,"Data Science, Big Data Analytics, Digital Mark...",Hyderabad / Secunderabad
33,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,Recruitment Consultant,"Data Science, Machine Learning, Big Data Analy...",Bengaluru / Bangalore
34,Techcovery,HR Executive,"Python, Artificial Intelligence, Machine Learn...",Noida
35,Trisect,Head,"Java, Python, Angularjs, Software Testing, Mac...",New Delhi
36,ASCO consulting,Consultant,"Machine Learning, Artificial Intelligence, Dat...",Chennai
37,NY INST,senior technology instructor,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
38,3D India Staffing Research &amp; Consulting...,HR Recruiter/HR Excutive,"Relationship Management, Retail Sales, Private...",Salt Lake City
39,O.C. Tanner,"Manager, Technical Recruiting","Data Science, Software Engineering",Bengaluru / Bangalore
40,MADHUSUDHAN SRIDHAR,Erp Implementer,"Data Science, Recruitment, Salary",Mumbai
41,Suntech Global,Head Analytics,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
42,Strategic Consulting Lab,Chief Technical Officer,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
43,Impel Labs Pvt. Ltd.,Sr Product Manager,"Data Science, Node.js, Angularjs",MYSORE
44,MRP Advisers,Director Global Delivery,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
45,Saras Solutions India Pvt Ltd,Co Founder,"Data Analysis, Learning, Data Science, Compute...",Mumbai
46,LNT Private Limited,Architect,"Software Development, Core Java, Unit Testing,...",Noida
47,Granular.ai,Managing Partner,"Machine Learning, Data Science, Product Manage...",Mumbai
48,Certybox Pvt.Ltd.,HR Manager,"consulting, Education Counseling, Educational ...",-
49,Western Service Providers,Managing Director - HR,"Software Professionals, Engineering, Technical...",-

# 8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [130]:
url ='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(url)

In [131]:
BookName = []
name =driver.find_elements_by_xpath('/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[2]')
for i in name:
    try:
        BookName.append(i.text)
    except NoSuchElementException:
        BookName.append('-')
        
Author = []
name =driver.find_elements_by_xpath('/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[3]')
for i in name:
    try:
        Author.append(i.text)
    except NoSuchElementException:
        Author.append('-')
        
volume = []
name =driver.find_elements_by_xpath('/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[4]')
for i in name:
    try:
        volume.append(i.text)
    except NoSuchElementException:
        volume.append('-')
        
publisher = []
name =driver.find_elements_by_xpath('/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[5]')
for i in name:
    try:
        publisher.append(i.text)
    except NoSuchElementException:
        publisher.append('-')

In [132]:
pd.DataFrame({
    'BookName':BookName,
    'Author':Author,
    'volume':volume,
    'publisher':publisher
})

,BookName,Author,volume,publisher
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House
...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin

# 9. Scrape the details most watched tv series of all time from imdb.com.
 Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [133]:
url ='https://www.imdb.com/list/ls095964455/'
driver.get(url)

In [146]:
Titles = []
Year = []
run_time = []
Genre = []
Rating =[]
try:
    titles = driver.find_elements_by_xpath('//h3[@class="lister-item-header"]/a')
    for i in titles:
        Titles.append(i.text)
    year = driver.find_elements_by_xpath('//span[@class="lister-item-year text-muted unbold"]')
    for i in year:
        Year.append(i.text)
    run = driver.find_elements_by_xpath('//p[@class="text-muted text-small"]/span[3]')
    for i in run:
        run_time.append(i.text)
    genre = driver.find_elements_by_xpath('//p[@class="text-muted text-small"]/span[5]')
    for i in genre:
        Genre.append(i.text)
    rate = driver.find_elements_by_xpath('//div[@class="ipl-rating-star small"]/span[2]')
    for i in rate:
        Rating.append(i.text)
    vote = driver.find_elements_by_xpath('//p[@class="text-muted text-smalll"]/span[2]')
except NoSuchElementException:
    print('-')

In [148]:
pd.DataFrame({
    'Titles':Titles,
    'Year':Year,
    'run_time':run_time,
    'Genre':Genre,
    'Rating':Rating
})

,Titles,Year,run_time,Genre,Rating
0,Game of Thrones,(2011–2019),57 min,"Action, Adventure, Drama",9.2
1,Stranger Things,(2016– ),51 min,"Drama, Fantasy, Horror",8.7
2,The Walking Dead,(2010–2022),44 min,"Drama, Horror, Thriller",8.2
3,13 Reasons Why,(2017–2020),60 min,"Drama, Mystery, Thriller",7.6
4,The 100,(2014–2020),43 min,"Drama, Mystery, Sci-Fi",7.6
...,...,...,...,...,...
95,Reign,(2013–2017),42 min,"Drama, Fantasy",7.5
96,A Series of Unfortunate Events,(2017–2019),50 min,"Adventure, Comedy, Drama",7.8
97,Criminal Minds,(2005–2020),42 min,"Crime, Drama, Mystery",8.1
98,Scream: The TV Series,(2015–2019),45 min,"Comedy, Crime, Drama",7.1
99,The Haunting of Hill House,(2018),572 min,"Drama, Horror, Mystery",8.6

# 10. Details of Datasets from UCI machine learning repositories.
 Url = https://archive.ics.uci.edu/
 You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the Show All Dataset page through code

In [149]:
url = ' https://archive.ics.uci.edu/'
driver.get(url)

In [150]:
driver.find_element_by_xpath('/html/body/table[1]/tbody/tr/td[2]/span[2]/a').click()

In [152]:
Name = []
datatype = []
defaulttask = []
attribute = []
no_of_instance = []
no_of_attribute = []
name = driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]')
for i in name:
    Name.append(i.text)
type = driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]')
for i in type:
    datatype.append(i.text)
task = driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]')
for i in task:
    defaulttask.append(i.text)
attr = driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]')
for i in attr:
    attribute.append(i.text)
instance = driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]')
for i in instance:
    no_of_instance.append(i.text)
noattr = driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]')
for i in noattr:
    no_of_attribute.append(i.text)

In [153]:
pd.DataFrame({
    'Name':Name,
    'datatype':datatype,
    'defaulttask':defaulttask,
    'attribute':attribute,
    'no_of_instance':no_of_instance,
    'no_of_attribute':no_of_attribute
})

,Name,datatype,defaulttask,attribute,no_of_instance,no_of_attribute
0,Name,Data Types,Default Task,Attribute Types,# Instances,# Attributes
1,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8
2,Adult,Multivariate,Classification,"Categorical, Integer",48842,14
3,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38
4,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294
...,...,...,...,...,...,...
584,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23
585,Gait Classification,Multivariate,Classification,Real,48,321
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068
587,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068
588,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5